/*    font-family: 'Roboto', sans-serif;

    font-family: 'Saira', sans-serif;

    font-family: 'Saira Condensed', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}



header {
    position: relative;
    height: 100vh;
    max-width: 1920px;
    margin: 0 auto;
    background-color: #29a6dc;
    overflow: hidden;

}

header > * {
    position: absolute;
}

header img {
    height: 50%;
    bottom: 0;
    right: 0;
}

header div.welcome {
    z-index: 1;
    top: 5%;
    left: 5%;
    right: 5%;
    text-align: center;
    font-family: 'saira condensed' , sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
}

header h1 {
    margin-top: 20px;
    font-size: 20px;
}

header h2 {
    font-size: 20px;
    font-weight: normal;
}

header button {
    line-height: 30px;
    padding: 0 20px;
    font-family: 'saira' , sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    font-size: 12px;
    border: 2px solid white;
}

@media (orientation:portrait) and (min-width: 360px) {
    header h1 {
        font-size: 24px;
    }
    header h2 {
        font-size: 24px;
    }
    header button {
        line-height: 40px;
        font-size: 16px;
        margin-top: 40px;
    }
}

@media (orientation: landscape) {
    header img {
        height: 80%;
        bottom: 0;
        right: 0;
    }
    header div.welcome {
        top: 15%;
        left: 5%;
        right: 50%;
    }
    header button {
        margin-top: 50px;
    }
}

@media (orientation: landscape) and (min-width: 640px) {
    header h1 {
        font-size: 28px;
    }
    header h2 {
        font-size: 28px;
    }
    header button {
        margin-top: 20px;
    }
}

@media (orientation: portrait) and (min-width: 360px) {
    header img {
        right: -20%;
    }
}

@media (orientation: landscape) and (min-width: 1080px) {
    header div.welcome {
        left: 3%;
    }
    header p {
        font-size: 56px;
    }
    header h1 {
        margin-top: 40px;
        font-size: 38px;
    }
    header h2 {
        font-size: 38px;
    }
    header button {
        margin-top: 80px;
        font-size: 20px;
        line-height: 50px;
    }
    header img {
        height: 80%;
        right: -18%;
        
    }
}

@media (orientation:portrait) and (min-width: 810px) {
    header p {
        font-size: 40px;
    }
    header h1 {
        font-size: 40px;
    }
    header h2 {
        font-size: 40px;
    }
    header button {
        line-height: 40px;
        font-size: 16px;
        margin-top: 100px;
    }
    header img {
        right: 10%;
    }
}


@media (orientation: landscape) and (min-width: 1280px) {
    header div.welcome {
    text-align: left; 
    left: 6%;   
    }
    header p {
        font-size: 100px;
    }
    header h1 {
        margin-top: 40px;
        font-size: 50px;
    }
    header h2 {
        font-size: 50px;
    }
    header button {
        margin-top: 100px;
        font-size: 38px;
        line-height: 80px;
        padding: 0 40px;
    }
    header img {
        right: -15%;
        height: 93%;
    }
}

@media (orientation: landscape) and (min-width: 1600px) {
   
    header p {
        font-size: 120px;
    }
    header h1 {
        margin-top: 40px;
        font-size: 60px;
    }
    header h2 {
        font-size: 60px;
    }
    header button {
        margin-top: 100px;
        font-size: 38px;
        line-height: 90px;
        padding: 0 40px;
    }
    header img {
        right: 0%;
        height: 90%;
    }

}

@media (min-width:1024px) {
    header button {
        cursor: pointer;
        transition: .3s;
    }
    header button:hover {
        background-color: #fff;
        color: #111;
    }
}











footer {
    min-height: 30vh;
}


.features {
    max-width: 1600px;
    margin: 50px auto 0;
    padding: 5%;
    text-align: center;
}

.features h1 {
    font-family: 'Saira Condensed', sans-serif;
    font-size:  26px;
    text-transform: uppercase;
}

.features h2 {
    font-family: 'Saira Condensed', sans-serif;
    font-size:  22px;
    text-transform: uppercase
}

.features p {
    font-family: 'Saira', sans-serif;
    font-size: 12px;
    font-weight: 300;
    margin: 20px 0;
}

.features img {
    width: 100%;
    margin: 5px 0;
    max-width: 375px;
}

@media (min-width: 360px) {
    .features p {
        font-size: 14px;
    }

    .features h1 {
        font-size: 28px;
    }

    .features h2 {
        font-size: 24px;
    }
}

@media (min-width: 768px) {
    .features p {
        font-size: 18px;
    }

    .features h1 {
        font-size: 36px;
    }

    .features h2 {
        font-size: 28px;
    }
}

@media (min-width: 1024px) {
    .feature {
        float: left;
        width: 33%;
        padding: 20px;
    }

    .features {
        margin-top: 50px;
        padding: 5% 2%;
        text-align: center;
    }

    .features p {
        font-size: 16px;
        line-height: 120%;
        padding: 0 10px;
    }

    .features h1 {
        font-size: 36px;
    }

    .features h2 {
        font-size: 22px;
    }
}

@media (min-width: 1600px) {
    .feature {
        padding: 20px 50px;
    }


    .features p {
        font-size: 21px;
        line-height: 140%;
        padding: 0 10px;
    }

    .features h1 {
        font-size: 60px;
    }

    .features h2 {
        font-size: 32px;

    }
}

.portfolio {
    background-color: #000;
    padding: 10px 0 30px ;
}

.portfolio h1 {

    font-size: 28px ;
    font-family: 'Saira Condensed', sans-serif;
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 15px;
}

.portfolio .web img {
    width: 100%;
}

.portfolio .about {
    color: white;
    font-family: 'Saira', sans-serif;
    font-weight: normal;
    padding: 10px 20px 20px 0;
    text-align: left;
}

.portfolio .about h2 {
    font-size: 18px;
    border-bottom: 2px solid white;
    margin-bottom: 12px;
    padding-bottom: 6px;
    text-indent: 20px;
    text-transform: uppercase;
}

.portfolio .about p {
    font-size: 12px;
    padding-left: 20px;

}

.portfolio .project {
    max-width: 1400px;
    margin: 0 auto 20px;

}

.portfolio .project:nth-of-type(odd) {
    background-color: orangered;
}

.portfolio .project:nth-of-type(even) {
    background-color: deepskyblue;
}

@media (min-width:768px)  {

    .portfolio h1 {
      font-size: 40px;
    }
  
    .portfolio .about h2 {
      font-size: 28px;
      text-indent: 40px;
    }
  
    .portfolio .about p {
      font-size: 18px;
      padding-left: 40px;
    }
  
    .portfolio .project {
      margin-bottom: 40px;
    }
}
@media (orientation: landscape) {
    .web, .about {
        width: 50%;
        float: left;
    }

    .web img {
        display: block;
    }

    .portfolio .project:nth-of-type(even) .web {
        float: right;
    }
}

@media (orientation:landscape) and (min-width: 1400px) {
    .portfolio h1 {
        font-size: 60px;
        padding-top: 40px;
      }
    
      .portfolio .about h2 {
        padding-top: 50px;
        margin-bottom: 40px;
        font-size: 28px;
        text-indent: 40px;
      }
    
      .portfolio .about p {
        font-size: 18px;
        padding-left: 40px;
        line-height: 180%;
      }
    
      .portfolio .project {
        margin-bottom: 40px;
      }
}

.portfolio .project:nth-of-type(even) .about {
    padding-right:0;
}

.portfolio .project:nth-of-type(even) .about p {
    padding-right: 20px;
}

.portfolio .project:nth-of-type(even) .about h2 {
    text-indent: 0;
    margin-left: 40px;
}

/*sekcja slogan*/

.slogan {
    text-align: center;
    background-image: url(images/motto.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    background-attachment:fixed;
}

.slogan h1 {
    font-family: 'Saira Condensed', sans-serif;
    font-size:  26px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.slogan p {
    font-family: 'Saira', sans-serif;
}

.slogan p.author {
    margin-top: 20px;
    font-size: 12px;
}

.slogan .bg {
    background-color: rgba(0, 63, 114, .5);
    padding: 30px 10px;

}

@media (orientation: landscape) {
    .slogan p {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width:768px) {
    .slogan .bg {
        padding: 50px 10px;
    
    }
    .slogan h1 {
    
        font-size:  38px;
        margin-bottom: 35px;
    }
    
    .slogan p {
        width: 60%;
        font-size: 26px;
        margin: 0 auto;

    }
    
    .slogan p.author {
        margin-top: 40px;
        font-size: 18px;
    }
}

@media (min-width:1024px) {
    .slogan .bg {
        padding: 80px 10px;
    
    }
    .slogan h1 {
    
        font-size:  60px;
        margin-bottom: 55px;
    }
    
    .slogan p {
        width: 50%;
        font-size: 40px;
        margin: 0 auto;

    }
    
    .slogan p.author {
        margin-top: 40px;
        font-size: 26px;
    }
}


